---
layout: default
---
<div id="posts">
    <h2>Posts categorized in {{ page.category }}</h2>

    <div class="post-content">
        {% for post in page.posts %}
        <p>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <div class="post-meta">
                <a href="/about.html">{{ post.author }}</a>
                &middot;
                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
                &middot;
                {% if post.tags != nil %}
                    {{ post | tags }}
                    &middot;
                {% endif %}
                Reading time <span class="reading-time">{{ post.content | reading_time_as_i }}</span>
            </div>
            <div class="post-summary">
                {{ post.description }}
            </div>
        </p>
        {% endfor %}
    </div>
</div>