---
layout: default
---
<div class="post-content">
    <div>
        <h1>{{ page.title }}</h1>
        <div class="post-meta">
            {% capture datetime %}{{ page.date | date: '%s' }}{% endcapture %}
            {% capture updatetime %}{{ page.last_updated | date: '%s' }}{% endcapture %}

            {% if datetime == updatetime %}
                <a href="/about.html">{{ page.author }}</a>
                &middot;
                <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
                &middot;
            {% else %}
                <a href="/about.html">{{ page.author }}</a>
                &middot;
                <time class="line-through" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
                <time datetime="{{ page.last_updated | date_to_xmlschema }}">{{ page.last_updated | date_to_long_string }}</time>
                &middot;
            {% endif %}
            {% if page.tags != nil %}
                {{ page | tags }}
                &middot;
            {% endif %}
            Reading time <span class="reading-time">{{ page.content | reading_time_as_i | downcase }}</span>
        </div>
    </div>

    <div>
        {% if page.toc %}
        <div id="table-of-contents">
            <span id="toc-header">In this article</span>
            {% toc %}
        </div>
        {% endif %}

        {% include anchor_headings.html html=content anchorBody="&" %}
    </div>
</div>