/* Load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);

:root {
    /* Colors */
    --font-color: #fff;
    --font-color2: #aaa;
    --link-color: #8cf;
    --highlight-color: #ffffcc;
    --light-border-color: #446979;
    --top-color: #313536;
    --bottom-color: #1D2021;
    --h1-color: #888;
    --h2-color: #777;

    /* Misc */
    --padding: 10px;
    --margin: 10px;
    --radius: 8px;
    --border: 1px solid var(--top-color);
    --border-color: var(--top-color);
    --light-border: 1px solid var(--top-color);
    --dark-border: 1px solid var(--bottom-color);
    --padding-top-bot: 30px;
}

* {
    margin: 0px;
    padding: 0px;
}

/* Layout */
body {
    background-color: var(--bottom-color) !important;
    color: var(--font-color);
    font-family: Inter, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 18px;
    line-height: 1.3;
}

#main {
    background-color: var(--bottom-color) !important;
}

@media screen and (max-width: 899px) {
    #main {
        padding-top: 0px !important;
    }
}

#header {
    background-color: var(--top-color) !important;
    border: none;
    min-height: inherit !important;
}

@media screen and (max-width: 899px) {
    #header {
        display: none !important;
    }
}

#headline {
    padding: var(--padding-top-bot) var(--padding) 0px var(--padding) !important;
}

#headline h1 {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

#headline h2 {
    display: inline-block;
    margin: 0px;
    padding-left: 0px;
}

#headline h2 .current-project {
    font-size: 1.5em;
}

#headline > div {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 899px) {
    #headline {
        height: 80px !important;
        position: relative;
    }

    #headline .mobile-toggle-button {
        float: none !important;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 80px;
        line-height: 80px;
        border-left: var(--dark-border);
    }
}

#wrapper {
    width: 100%;
    background-color: var(--bottom-color) !important;
}

#wrapper2 {
    background-color: var(--bottom-color) !important;
}

#wrapper3 {
    background-color: var(--top-color) !important;
}

#content {
    padding-top: var(--padding);
    background-color: var(--bottom-color) !important;
    border-right: none;
}

#main #content > ul li {
    display: inline-block;
    margin-right: var(--padding);
}

@media screen and (max-width: 899px) {
    #content {
        border: none !important;
    }
}

#top-menu {
    background-color: var(--top-color);
    width: 100%;
    padding-bottom: 0px !important;
}

#top-menu, #header, #headline, #content, #sidebar, #footer {
    width: 80% !important;
    margin: 0px auto;
    padding: var(--padding);
}

@media screen and (max-width: 899px) {
    #top-menu, #header, #headline, #content, #sidebar, #footer {
        width: 100% !important;
    }
}

#main-menu {
    font-size: 100%;
    position: inherit;
    left: 0px;
    width: inherit;
    margin: 0px;
    align-self: center;
}

#main-menu .active {
    color: var(--highlight-color) !important;
}

#main-menu svg:not(:last-child) {
    margin-right: 5px;
}

#main-menu svg:not(:hover) {
    opacity: .8;
}

#main-menu ul {
    display: inline-block;
}

#main-menu ul:first-child {
    float: left;
}


#main-menu ul:last-of-type {
    float: right;
}

#main-menu ul {
    width: auto;
}

#main-menu li {
    margin: 0px;
}

#main-menu li a {
    font-weight: inherit !important;
    padding: 0px 3px 0px 3px;
}

#main-menu a, #main-menu a.selected,
#admin-menu a, #admin-menu a.selected {
    text-decoration: none;
    color: var(--link-color) !important;
    background-color: inherit !important;
}

#main-menu a:hover, #main-menu a.selected,
#admin-menu a:hover, #admin-menu a.selected {
    text-decoration: none;
    color: var(--highlight-color) !important;
}

#sidebar {
    float: none;
}

#sidebar * {
    display: inline-block;
    float: none;
}

#footer {
    background-color: var(--bottomp-color);
    border: none;
    color: var(--font-color2);
}

#login-form {
    background-color: var(--bottom-color);
    border: var(--light-border);
    border-radius: var(--radius);
}

/* Text */
a:link, a:visited {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color: var(--highlight-color);
}

h1 {
    color: var(--h1-color);
}

h2 {
    color: var(--h2-color);
}

h2, h3, .wiki h1, .wiki h3 {
    font-size: inherit !important;
}

h3.icon {
    padding-left: 0px;
}

h4 {
    border-bottom: var(--light-border);
}

h1, h2, h3, h4 {
    font-family: inherit !important;
    margin: 5px 0px;
}

li {
    display: block;
}

fieldset {
    color: #666;
    border-color: #666;
    margin: 5px 0px;
}

legend {
    color: #666;
}

/* Redmine */
#quick-search {
    display: none;
}

.flyout-menu {
    background-color: var(--top-color) !important;
}

.flyout-menu h3 {
    background-color: inherit !important;
    border: none !important;
}

.flyout-menu .flyout-menu__avatar {
    margin: 10px 0px !important;
}

@media screen and (max-width: 899px) {
    .flyout-menu .flyout-menu__search {
        height: 80px;
        background-color: var(--bottom-color);
    }
}

.splitcontentright > .news {
    margin-top: var(--padding);
}

.news {
    border: none !important;
}

.news > p {
    padding-bottom: var(--padding);
}

.news > h3 {
    border-bottom: var(--border);
}

.wiki {
    padding-top: none;
}

.clearfix {
    clear: both;
}

.icon, .icon.selected {
    background-image: inherit !important;
    padding-left: var(--padding) !important;
}

.box, .mypage-box {
    background-color: var(--bottom-color);
    color: var(--font-color);
    border: var(--light-border);
    border-radius: var(--radius);
    padding: 0px;
}

.block-receiver {
    border: none;
}

div.issue {
    background-color: var(--top-color);
    border: var(--border);
    padding: var(--padding);
}

div.issue hr {
    visibility: hidden;
}

div.issue .subject h3 {
    color: #999;
}

div.issue .description > p, div.issue #issue_tree > p, div.issue .relations {
    border-bottom: 1px solid #666666;
    padding-bottom: 5px;
    margin-bottom: var(--margin);
}

div.wiki p {
    text-align: justify;
}

div.wiki table, table.list {
    border: none !important;
}

div.wiki pre {
    background-color: var(--bottom-color);
    border: var(--light-border);
}

div.wiki ul.toc {
    background-color: var(--bottom-color);
    border: var(--light-border);
    color: var(--font-color2);
}

div.wiki ul.toc a {
    font-size: 1em;
}

div.wiki ul.toc a:hover {
    color: var(--highlight-color) !important;
}

table.progress td.todo {
    background-color: #666666 !important;
}

table.progress td.done {
    background-color: var(--top-color) !important;
}

table.progress td.closed {
    background-color: var(--highlight-color) !important;
}

table.list tr, table.list th, table.list td {
    background-color: inherit !important;
}

table.list td, div.wiki table td {
    border: var(--light-border);
}

table.column td {
    border: none !important;
}

input, textarea {
    background-color: var(--bottom-color) !important;
    color: var(--font-color2) !important;
    border: var(--light-border) !important;
}

/* SVG */
svg.rss, svg.github, svg.linkedin {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

svg.rss *, svg.github *, svg.linkedin * {
    fill: var(--h1-color);
    stroke: var(--h1-color);
}

svg.linkedin #path14 {
    fill: var(--h1-color)
}

svg.linkedin #path28, svg.linkedin #path30 {
    fill: var(--bottom-color)
}

svg.waves {
    vertical-align: bottom;
}
