    <div class="footer">
        <div>
            <a href="https://github.com/unexist">unexist @ GitHub</a>
            &middot;
            <a href="https://twitter.com/chkappel">unexist @ Twitter</a>
        </div>
    </div>

</body>
</html>
