{header}
    <title>{repo|escape}: tags</title>
    <link rel="alternate" type="application/atom+xml" href="{url|urlescape}atom-tags" title="Atom feed for {repo|escape}: tags" />
    <link rel="alternate" type="application/rss+xml" href="{url|urlescape}rss-tags" title="RSS feed for {repo|escape}: tags" />
</head>
<body>

<div class="container">
    <div class="header">
        <div class="headline">
            <h1>unexist.dev</h1>
            <h2 class="breadcrumb">
                <a href="/">Mercurial</a> {pathdef%breadcrumb}
            </h2>
        </div>

        <div class="menu">
            <ul>
                <li><a href="https://hg.unexist.dev">Home</a></li>
                <li><a href="https://blog.unexist.dev">Blog</a></li>
                <li><a href="https://unexist.dev">Projects</a></li>
            </ul>
            <ul>
                <li><a href="{url|urlescape}shortlog{sessionvars%urlparameter}">log</a></li>
                <li><a href="{url|urlescape}graph{sessionvars%urlparameter}">graph</a></li>
                <li class="active">tags</li>
                <li><a href="{url|urlescape}bookmarks{sessionvars%urlparameter}">bookmarks</a></li>
                <li><a href="{url|urlescape}branches{sessionvars%urlparameter}">branches</a></li>
            </ul>
            <ul>
                <li><a href="{url|urlescape}help{sessionvars%urlparameter}">help</a></li>
            </ul>
            <div class="atom-logo">
                <a href="{url|urlescape}atom-tags" title="subscribe to atom feed">
                    <img class="atom-logo" src="{staticurl|urlescape}feed-icon-14x14.png" alt="atom feed" />
                </a>
            </div>
        </div>
    </div>

    <div class="main">
        <table class="bigtable">
            <thead>
                <tr>
                    <th>tag</th>
                    <th>node</th>
                </tr>
            </thead>
            <tbody class="stripes2">
                {entries%tagentry}
            </tbody>
        </table>
    </div>
</div>

{footer}
